@use "../abstracts";

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Poppins", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 1.2rem;
  --fs-400: 1.4rem;
  --fs-500: 1.6rem;
  --fs-600: 2rem;

  --fs-400-lg: 2.4rem;
  --fs-500-lg: 2.8rem;
  --fs-600-lg: 3.2rem;
  --fs-700-lg: 4rem;

  --fs-nav: var(--fs-400);
  --fs-main-heading: var(--fs-600);
  --fs-sub-heading: var(--fs-600);
  --fs-tertiary-heading: var(--fs-600);
  --fs-paragraph: var(--fs-400);
  --fs-testemonials: var(--fs-500);
  --fs-testemonials-names: var(--fs-300);
}

@media (min-width: 50em) {
  :root {
    --fs-nav: var(--fs-400);
    --fs-main-heading: var(--fs-700-lg);
    --fs-sub-heading: var(--fs-600-lg);
    --fs-tertiary-heading: var(--fs-400-lg);
    --fs-paragraph: var(--fs-500);
    --fs-testemonials-names: var(--fs-500);
    --fs-testemonials: var(--fs-300);
  }
}
