@use "../abstracts";

.hidden-mobile {
  display: block;
}

// Fonts sizes

.font-nav {
  font-size: var(--fs-nav);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
}

.font-main {
  font-size: var(--fs-main-heading);
  font-family: var(--ff-secondary);
  color: var(--color-primary-white);
}

.font-paragraph {
  font-size: var(--fs-paragraph);
  font-family: var(--ff-primary);
  line-height: 2.8rem;
}

.font-testemonials {
  font-size: var(--fs-testemonials);
  font-family: var(--ff-primary);
  color: var(--color-primary-white);

  @include abstracts.respond(desktop) {
    color: #000;
  }
}

.font-testemonials-names {
  font-size: var(--fs-testemonials-names);
  font-family: var(--ff-primary);

  @include abstracts.respond(desktop) {
    color: var(--color-purple);
  }
}

.nav-mobile {
  @include abstracts.respond(desktop) {
    display: none;
  }
}

.nav-desktop {
  display: none;
  @include abstracts.respond(desktop) {
    display: flex;
  }
}

.font-sub {
  font-size: var(--fs-sub-heading);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
}

.font-tertiary {
  font-size: var(--fs-tertiary-heading);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
}

.font-contact {
  font-size: var(--fs-contact);
}

// Margins and paddings

.mb-xs {
  margin-bottom: 0.8rem;
}
.mb-sm {
  margin-bottom: 1.6rem;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-lg {
  margin-bottom: 3.2rem;
}

.mb-xlg {
  margin-bottom: 4.8rem;
}

.grey-bg {
  background-color: var(--color-grey-light-2);
  @include abstracts.respond(desktop) {
    padding-bottom: 5rem;
    padding-top: 7rem;
  }
}

.wide-container {
  --max-width: 120.7rem;
  --padding: 2.4rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.container {
  --max-width: 104rem;
  --padding: 2.4rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.even-columns {
  @include abstracts.respond(desktop) {
    grid-auto-flow: column;
    gap: 10rem;
    align-items: center;
  }
}
