:root {
  --color-primary-blue: #009cc0;
  --color-primary-blue-dark: #2AB8D9;
  --color-primary-light-blue: #31c7e9fd;
  --color-primary-grey: #656d78;
  --color-primary-white: #ffffff;

  --color-grey-light-1: #656d78;
  --color-grey-light-2: #f5f7fa;
  --color-grey-dark-1: #323133;
  --color-purple: #662483;

  --shadow-light-1: 0 2.4rem 4rem rgba(72, 101, 114, 0.05);
  --shadow-light-2: 0px 1.6rem 2.4rem rgba(0, 0, 0, 0.03);
  --shadow-light-3: 0px 0.8rem 1.6rem rgba(0, 0, 0, 0.02);

  --size-900: 5rem;
}
