@use "../base";
@use "../abstracts";

.section__contact {
  background-color: var(--color-purple);
  padding: 4rem 0;
  color: var(--color-primary-white);

  &--container {
    @include abstracts.absCenter;
  }

  .social-icons {
    display: flex;
    justify-content: center;

    .section__about--icon {
      border-radius: 100%;
      background-color: var(--color-primary-blue);
      padding: 1.4rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .section__about {
    &--contact {
      color: var(--color-primary-blue);
      justify-content: center;
    }
  }
}
