@use "../base";
@use "../abstracts";

.navigation {
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    padding-top: 2rem;

    &--img {
      width: 4.8rem;
    }
  }
}
.nav-list {
  li {
    &:not(:last-child) {
      margin-right: 4.8rem;
    }
  }
}

.navigation__nav {
  margin-left: auto;
}

ul {
  display: flex;
  justify-content: space-between;
}

a {
  display: flex;
  font-weight: var(--fw-regular);
  color: var(--color-primary-grey);
}

.header {
  height: 100vh;
  position: relative;
  &__container {
    margin-bottom: 2.4rem;
  }
  &__image {
    width: 100%;
    height: 100vh;
    aspect-ratio: 1;
    object-fit: cover;

    @include abstracts.respond(desktop) {
      aspect-ratio: unset;
    }
  }

  &__text-box {
    position: absolute;
    top: 4%;
    padding: 0 2.4rem;
    @include abstracts.respond(desktop) {
      top: 10%;
    }
    p {
      color: var(--color-primary-white);
    }
  }
}
